<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Instrumental-Variables" data-toc-modified-id="Instrumental-Variables-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Instrumental Variables</a></span><ul class="toc-item"><li><span><a href="#C2.-Use-the-data-in-WAGE2.RAW-for-this-exercise." data-toc-modified-id="C2.-Use-the-data-in-WAGE2.RAW-for-this-exercise.-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>C2. Use the data in WAGE2.RAW for this exercise.</a></span><ul class="toc-item"><li><span><a href="#" data-toc-modified-id="-1.1.1"><span class="toc-item-num">1.1.1&nbsp;&nbsp;</span></a></span></li><li><span><a href="#" data-toc-modified-id="-1.1.2"><span class="toc-item-num">1.1.2&nbsp;&nbsp;</span></a></span></li><li><span><a href="#" data-toc-modified-id="-1.1.3"><span class="toc-item-num">1.1.3&nbsp;&nbsp;</span></a></span></li><li><span><a href="#" data-toc-modified-id="-1.1.4"><span class="toc-item-num">1.1.4&nbsp;&nbsp;</span></a></span></li><li><span><a href="#" data-toc-modified-id="-1.1.5"><span class="toc-item-num">1.1.5&nbsp;&nbsp;</span></a></span></li><li><span><a href="#" data-toc-modified-id="-1.1.6"><span class="toc-item-num">1.1.6&nbsp;&nbsp;</span></a></span></li></ul></li><li><span><a href="#C5.-Use-the-data-in-CARD.RAW-for-this-exercise." data-toc-modified-id="C5.-Use-the-data-in-CARD.RAW-for-this-exercise.-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>C5. Use the data in CARD.RAW for this exercise.</a></span><ul class="toc-item"><li><span><a href="#" data-toc-modified-id="-1.2.1"><span class="toc-item-num">1.2.1&nbsp;&nbsp;</span></a></span></li><li><span><a href="#" data-toc-modified-id="-1.2.2"><span class="toc-item-num">1.2.2&nbsp;&nbsp;</span></a></span></li><li><span><a href="#" data-toc-modified-id="-1.2.3"><span class="toc-item-num">1.2.3&nbsp;&nbsp;</span></a></span></li></ul></li></ul></li><li><span><a href="#Simultaneous-Equations" data-toc-modified-id="Simultaneous-Equations-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Simultaneous Equations</a></span><ul class="toc-item"><li><span><a href="#2.-Corn" data-toc-modified-id="2.-Corn-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>2. Corn</a></span></li><li><span><a href="#4.-Alcohol-consumption" data-toc-modified-id="4.-Alcohol-consumption-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>4. Alcohol consumption</a></span></li><li><span><a href="#Use-SMOKE.RAW-for-this-exercise." data-toc-modified-id="Use-SMOKE.RAW-for-this-exercise.-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Use SMOKE.RAW for this exercise.</a></span><ul class="toc-item"><li><span><a href="#" data-toc-modified-id="-2.3.1"><span class="toc-item-num">2.3.1&nbsp;&nbsp;</span></a></span></li><li><span><a href="#" data-toc-modified-id="-2.3.2"><span class="toc-item-num">2.3.2&nbsp;&nbsp;</span></a></span></li><li><span><a href="#" data-toc-modified-id="-2.3.3"><span class="toc-item-num">2.3.3&nbsp;&nbsp;</span></a></span></li><li><span><a href="#" data-toc-modified-id="-2.3.4"><span class="toc-item-num">2.3.4&nbsp;&nbsp;</span></a></span></li><li><span><a href="#" data-toc-modified-id="-2.3.5"><span class="toc-item-num">2.3.5&nbsp;&nbsp;</span></a></span></li><li><span><a href="#" data-toc-modified-id="-2.3.6"><span class="toc-item-num">2.3.6&nbsp;&nbsp;</span></a></span></li><li><span><a href="#" data-toc-modified-id="-2.3.7"><span class="toc-item-num">2.3.7&nbsp;&nbsp;</span></a></span></li></ul></li></ul></li></ul></div>

In [20]:
library(tidyverse)
library(haven)
library(AER) # regression models

Loading required package: car

Loading required package: carData


Attaching package: ‘car’


The following object is masked from ‘package:dplyr’:

    recode


The following object is masked from ‘package:purrr’:

    some


Loading required package: lmtest

Loading required package: zoo


Attaching package: ‘zoo’


The following objects are masked from ‘package:base’:

    as.Date, as.Date.numeric


Loading required package: sandwich

Loading required package: survival

# Instrumental Variables

## C2. Use the data in WAGE2.RAW for this exercise.

In [13]:
load("/Users/ama/Downloads/R data sets for 5e/wage2.RData")

wage2 <- data

head(wage2)

  wage hours IQ  KWW educ exper tenure age married black south urban sibs
1  769 40     93 35  12   11     2     31  1       0     0     1      1
2  808 50    119 41  18   11    16     37  1       0     0     1      1
3  825 40    108 46  14   11     9     33  1       0     0     1      1
4  650 40     96 32  12   13     7     32  1       0     0     1      4
5  562 40     74 27  11   14     5     34  1       0     0     1     10
6 1400 40    116 43  16   14     2     35  1       1     0     1      1
  brthord meduc feduc lwage
1  2       8     8    6.645091
2 NA      14    14    6.694562
3  2      14    14    6.715384
4  3      12    12    6.476973
5  6       6    11    6.331502
6  2       8    NA    7.244227

###

In [18]:
wage2_m1 <- lm(log(wage) ~ sibs, data = wage2)

summary(wage2_m1)

Call:
lm(formula = log(wage) ~ sibs, data = wage2)

Residuals:
     Min       1Q   Median       3Q      Max
-1.97662 -0.25857  0.02503  0.28572  1.22677

Coefficients:
             Estimate Std. Error t value Pr(>|t|)
(Intercept)  6.861076   0.022078 310.771  < 2e-16 ***
sibs        -0.027904   0.005908  -4.723 2.68e-06 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 0.4164 on 933 degrees of freedom
Multiple R-squared:  0.02335,	Adjusted R-squared:  0.0223
F-statistic: 22.31 on 1 and 933 DF,  p-value: 2.68e-06

###

In [67]:
wage2_t <- lm(educ ~ brthord, data = wage2)

summary(wage2_t)

Call:
lm(formula = educ ~ brthord, data = wage2)

Residuals:
    Min      1Q  Median      3Q     Max
-4.8668 -1.5842 -0.7362  2.1332  6.1117

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept) 14.14945    0.12868 109.962  < 2e-16 ***
brthord     -0.28264    0.04629  -6.106 1.55e-09 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 2.155 on 850 degrees of freedom
  (83 observations deleted due to missingness)
Multiple R-squared:  0.04202,	Adjusted R-squared:  0.04089
F-statistic: 37.29 on 1 and 850 DF,  p-value: 1.551e-09

###

In [59]:
# iv regression where birthorder is the instrumental variable for education
wage2_m2 <- ivreg(log(wage) ~ educ | brthord, data = wage2)

summary(wage2_m2)

Call:
ivreg(formula = log(wage) ~ educ | brthord, data = wage2)

Residuals:
    Min      1Q  Median      3Q     Max
-1.8532 -0.2557  0.0435  0.2970  1.3033

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept)  5.03040    0.43295  11.619  < 2e-16 ***
educ         0.13064    0.03204   4.078 4.97e-05 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 0.4215 on 850 degrees of freedom
Multiple R-Squared: -0.02862,	Adjusted R-squared: -0.02983
Wald test: 16.63 on 1 and 850 DF,  p-value: 4.975e-05

###

In [41]:
wage2_m3 <- lm(educ ~ sibs + brthord, data = wage2)

summary(wage2_m3)

Call:
lm(formula = educ ~ sibs + brthord, data = wage2)

Residuals:
    Min      1Q  Median      3Q     Max
-5.1438 -1.6854 -0.6852  2.0090  5.9950

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept) 14.29650    0.13329 107.260  < 2e-16 ***
sibs        -0.15287    0.03987  -3.834 0.000135 ***
brthord     -0.15267    0.05708  -2.675 0.007619 **
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 2.137 on 849 degrees of freedom
  (83 observations deleted due to missingness)
Multiple R-squared:  0.05833,	Adjusted R-squared:  0.05611
F-statistic: 26.29 on 2 and 849 DF,  p-value: 8.33e-12

###

In [49]:
wage2_m4 <- ivreg(log(wage) ~ educ + sibs | brthord + sibs , data = wage2)

summary(wage2_m4)

Call:
ivreg(formula = log(wage) ~ educ + sibs | brthord + sibs, data = wage2)

Residuals:
     Min       1Q   Median       3Q      Max
-1.84808 -0.26227  0.03841  0.29901  1.30836

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept) 4.938528   1.055690   4.678 3.37e-06 ***
educ        0.136994   0.074681   1.834   0.0669 .
sibs        0.002111   0.017372   0.122   0.9033
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 0.427 on 849 degrees of freedom
Multiple R-Squared: -0.05428,	Adjusted R-squared: -0.05676
Wald test:  10.9 on 2 and 849 DF,  p-value: 2.124e-05

###

In [77]:
# fitted values from part 4 
wage2_m3fitted <- predict(wage2_m3)

# removing the NAs from sibs that are dropped with brthord
wage2_na <- wage2 %>% drop_na(brthord)
sibs <- wage2_na$sibs

In [78]:
# correlation between the two variables 
cor(wage2_m3fitted, sibs)

[1] -0.9294818

## C5. Use the data in CARD.RAW for this exercise.

In [80]:
load("/Users/ama/Downloads/R data sets for 5e/card.RData")

card <- data

head(card)

  id nearc2 nearc4 educ age fatheduc motheduc weight momdad14 sinmom14 ⋯ smsa66
1 2  0      0       7   29  NA       NA       158413 1        0        ⋯ 1
2 3  0      0      12   27   8        8       380166 1        0        ⋯ 1
3 4  0      0      12   34  14       12       367470 1        0        ⋯ 1
4 5  1      1      11   27  11       12       380166 1        0        ⋯ 1
5 6  1      1      12   34   8        7       367470 1        0        ⋯ 1
6 7  1      1      12   26   9       12       380166 1        0        ⋯ 1
  wage enroll KWW IQ  married libcrd14 exper lwage    expersq
1 548  0      15   NA 1       0        16    6.306275 256
2 481  0      35   93 1       1         9    6.175867  81
3 721  0      42  103 1       1        16    6.580639 256
4 250  0      25   88 1       1        10    5.521461 100
5 729  0      34  108 1       0        16    6.591674 256
6 500  0      38   85 1       1         8    6.214608  64

###

In [96]:
card_m1 <- lm(log(wage) ~ educ + exper + expersq + black + smsa + south + smsa66 + reg662 + reg663 + reg664 + reg665 + reg666 + reg667 + reg668 + reg669, 
             data = card)

summary(card_m1)

Call:
lm(formula = log(wage) ~ educ + exper + expersq + black + smsa +
    south + smsa66 + reg662 + reg663 + reg664 + reg665 + reg666 +
    reg667 + reg668 + reg669, data = card)

Residuals:
     Min       1Q   Median       3Q      Max
-1.62326 -0.22141  0.02001  0.23932  1.33340

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept)  4.6208067  0.0742327  62.248  < 2e-16 ***
educ         0.0746933  0.0034983  21.351  < 2e-16 ***
exper        0.0848320  0.0066242  12.806  < 2e-16 ***
expersq     -0.0022870  0.0003166  -7.223 6.41e-13 ***
black       -0.1990123  0.0182483 -10.906  < 2e-16 ***
smsa         0.1363845  0.0201005   6.785 1.39e-11 ***
south       -0.1479550  0.0259799  -5.695 1.35e-08 ***
smsa66       0.0262417  0.0194477   1.349  0.17733
reg662       0.0963672  0.0358979   2.684  0.00730 **
reg663       0.1445400  0.0351244   4.115 3.97e-05 ***
reg664       0.0550756  0.0416573   1.322  0.18623
reg665       0.1280248  0.0418395   3.060  0.00223 **
reg666       0.1405174  0.0452469   3.106  0.00192 **
reg667       0.1179810  0.0448025   2.633  0.00850 **
reg668      -0.0564361  0.0512579  -1.101  0.27098
reg669       0.1185698  0.0388301   3.054  0.00228 **
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 0.3723 on 2994 degrees of freedom
Multiple R-squared:  0.2998,	Adjusted R-squared:  0.2963
F-statistic: 85.48 on 15 and 2994 DF,  p-value: < 2.2e-16

In [101]:
card_m2resi <- residuals(card_m2)

In [106]:
card_m2 <- ivreg(log(wage) ~ educ + exper + expersq + black + smsa + south + smsa66 + reg662 + reg663 + reg664 + reg665 + reg666 + reg667 + reg668 + reg669 | nearc4 + exper + expersq + black + smsa + south + smsa66 + reg662 + reg663 + reg664 + reg665 + reg666 + reg667 + reg668 + reg669, 
             data = card)

summary(card_m2)

Call:
ivreg(formula = log(wage) ~ educ + exper + expersq + black +
    smsa + south + smsa66 + reg662 + reg663 + reg664 + reg665 +
    reg666 + reg667 + reg668 + reg669 | nearc4 + exper + expersq +
    black + smsa + south + smsa66 + reg662 + reg663 + reg664 +
    reg665 + reg666 + reg667 + reg668 + reg669, data = card)

Residuals:
     Min       1Q   Median       3Q      Max
-1.83164 -0.24075  0.02429  0.25208  1.42760

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept)  3.6661511  0.9248295   3.964 7.54e-05 ***
educ         0.1315038  0.0549637   2.393  0.01679 *
exper        0.1082711  0.0236586   4.576 4.92e-06 ***
expersq     -0.0023349  0.0003335  -7.001 3.12e-12 ***
black       -0.1467758  0.0538999  -2.723  0.00650 **
smsa         0.1118083  0.0316620   3.531  0.00042 ***
south       -0.1446715  0.0272846  -5.302 1.23e-07 ***
smsa66       0.0185311  0.0216086   0.858  0.39119
reg662       0.1007678  0.0376857   2.674  0.00754 **
reg663       0.1482588  0.0368141   4.027 5.78e-05 ***
reg664       0.0498971  0.0437398   1.141  0.25406
reg665       0.1462719  0.0470639   3.108  0.00190 **
reg666       0.1629029  0.0519096   3.138  0.00172 **
reg667       0.1345722  0.0494023   2.724  0.00649 **
reg668      -0.0830770  0.0593314  -1.400  0.16155
reg669       0.1078142  0.0418137   2.578  0.00997 **
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 0.3883 on 2994 degrees of freedom
Multiple R-Squared: 0.2382,	Adjusted R-squared: 0.2343
Wald test: 51.01 on 15 and 2994 DF,  p-value: < 2.2e-16

In [103]:
summary ( lm(log(wage) ~ card_m2resi + educ + exper + expersq + black + smsa + south + smsa66 + reg662 + reg663 + reg664 + reg665 + reg666 + reg667 + reg668 + reg669, 
             data = card) )

Call:
lm(formula = log(wage) ~ card_m2resi + educ + exper + expersq +
    black + smsa + south + smsa66 + reg662 + reg663 + reg664 +
    reg665 + reg666 + reg667 + reg668 + reg669, data = card)

Residuals:
       Min         1Q     Median         3Q        Max
-2.001e-14 -1.740e-15  5.000e-17  1.630e-15  1.930e-12

Coefficients:
              Estimate Std. Error    t value Pr(>|t|)
(Intercept)  3.666e+00  7.283e-15  5.034e+14   <2e-16 ***
card_m2resi  1.000e+00  1.745e-15  5.729e+14   <2e-16 ***
educ         1.315e-01  3.485e-16  3.773e+14   <2e-16 ***
exper        1.083e-01  6.340e-16  1.708e+14   <2e-16 ***
expersq     -2.335e-03  3.024e-17 -7.721e+13   <2e-16 ***
black       -1.468e-01  1.745e-15 -8.410e+13   <2e-16 ***
smsa         1.118e-01  1.920e-15  5.823e+13   <2e-16 ***
south       -1.447e-01  2.481e-15 -5.831e+13   <2e-16 ***
smsa66       1.853e-02  1.857e-15  9.977e+12   <2e-16 ***
reg662       1.008e-01  3.429e-15  2.939e+13   <2e-16 ***
reg663       1.483e-01  3.355e-15  4.420e+13   <2e-16 ***
reg664       4.990e-02  3.979e-15  1.254e+13   <2e-16 ***
reg665       1.463e-01  3.996e-15  3.660e+13   <2e-16 ***
reg666       1.629e-01  4.322e-15  3.770e+13   <2e-16 ***
reg667       1.346e-01  4.279e-15  3.145e+13   <2e-16 ***
reg668      -8.308e-02  4.896e-15 -1.697e+13   <2e-16 ***
reg669       1.078e-01  3.709e-15  2.907e+13   <2e-16 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 3.556e-14 on 2993 degrees of freedom
Multiple R-squared:      1,	Adjusted R-squared:      1
F-statistic: 2.93e+28 on 16 and 2993 DF,  p-value: < 2.2e-16

###

In [121]:
card_m4 <- ivreg(log(wage) ~ educ + exper + expersq + black + smsa + south + smsa66 + reg662 + reg663 + reg664 + reg665 + reg666 + reg667 + reg668 + reg669 | nearc4 + nearc2 + exper + expersq + black + smsa + south + smsa66 + reg662 + reg663 + reg664 + reg665 + reg666 + reg667 + reg668 + reg669, 
             data = card)

summary(card_m4)

Call:
ivreg(formula = log(wage) ~ educ + exper + expersq + black +
    smsa + south + smsa66 + reg662 + reg663 + reg664 + reg665 +
    reg666 + reg667 + reg668 + reg669 | nearc4 + nearc2 + exper +
    expersq + black + smsa + south + smsa66 + reg662 + reg663 +
    reg664 + reg665 + reg666 + reg667 + reg668 + reg669, data = card)

Residuals:
     Min       1Q   Median       3Q      Max
-1.93841 -0.25068  0.01932  0.26519  1.46998

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept)  3.2367108  0.8849118   3.658 0.000259 ***
educ         0.1570594  0.0525782   2.987 0.002839 **
exper        0.1188149  0.0228061   5.210 2.02e-07 ***
expersq     -0.0023565  0.0003475  -6.781 1.43e-11 ***
black       -0.1232778  0.0521500  -2.364 0.018147 *
smsa         0.1007530  0.0315193   3.197 0.001405 **
south       -0.1431945  0.0284448  -5.034 5.08e-07 ***
smsa66       0.0150626  0.0223360   0.674 0.500132
reg662       0.1027473  0.0392906   2.615 0.008966 **
reg663       0.1499316  0.0383918   3.905 9.62e-05 ***
reg664       0.0475676  0.0456013   1.043 0.296977
reg665       0.1544801  0.0485628   3.181 0.001482 **
reg666       0.1729728  0.0534164   3.238 0.001216 **
reg667       0.1420356  0.0511219   2.778 0.005497 **
reg668      -0.0950611  0.0609801  -1.559 0.119129
reg669       0.1029760  0.0434224   2.371 0.017779 *
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 0.4053 on 2994 degrees of freedom
Multiple R-Squared: 0.1702,	Adjusted R-squared: 0.166
Wald test: 47.07 on 15 and 2994 DF,  p-value: < 2.2e-16

###

# Simultaneous Equations

## 2. Corn
The first equation is the demand function because it includes an income variable, which often determines demand. The second equation contains the variable `rainfall` which would determine the corn supply.

## 4. Alcohol consumption

It seems that there are no exogenous variables in the first equation that are not also in the second equation, meaning the rank condition for identifying the second equation is not true. The first equation we can use log(price) as an exogenous variable used as the IV for alcohol in the 2SLS equation.

## Use SMOKE.RAW for this exercise.

In [108]:
load("/Users/ama/Downloads/R data sets for 5e/smoke.RData")

smoke <- data

head(smoke)

  educ cigpric white age income cigs restaurn lincome   agesq lcigpric
1 16.0 60.506  1     46  20000  0    0         9.903487 2116  4.102743
2 16.0 57.883  1     40  30000  0    0        10.308952 1600  4.058424
3 12.0 57.664  1     58  30000  3    0        10.308952 3364  4.054633
4 13.5 57.883  1     30  20000  0    0         9.903487  900  4.058424
5 10.0 58.320  1     17  20000  0    0         9.903487  289  4.065945
6  6.0 59.340  1     86   6500  0    0         8.779557 7396  4.083283

### 

$\beta_1$ multiplied by 100 would provide the estimated percentage change in income according to how many cigarettes a person smokes per day.

### 

Because price should go down with consumption, and because consumption should go down with restaurant restrictions, I would expect $y_5 <= 0$.

### 

The necessary condition for identification is that at least one variable in the (ii) equation needs to be exogenous and also not in the (i) equation.

### 

The coefficient for smoking implies that the more cigarettes one smokes, the higher ones income. However, the coefficient is not statistically significant.

In [109]:
smoke_m1 <- lm(log(income) ~ cigs + educ + age + agesq, data = smoke)

summary(smoke_m1)

Call:
lm(formula = log(income) ~ cigs + educ + age + agesq, data = smoke)

Residuals:
    Min      1Q  Median      3Q     Max
-3.6237 -0.2978  0.1314  0.4167  1.3542

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept)  7.795e+00  1.704e-01  45.741  < 2e-16 ***
cigs         1.731e-03  1.714e-03   1.010    0.313
educ         6.036e-02  7.898e-03   7.642 6.10e-14 ***
age          5.769e-02  7.644e-03   7.548 1.21e-13 ***
agesq       -6.306e-04  8.338e-05  -7.563 1.08e-13 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 0.6529 on 802 degrees of freedom
Multiple R-squared:  0.165,	Adjusted R-squared:  0.1608
F-statistic: 39.61 on 4 and 802 DF,  p-value: < 2.2e-16

### 

The coefficient for `log(cigpric)` is statistically insignificant, but for `restauran` we see the expected negative relationship between a public smoking ban and number of cigarettes smoked.

In [115]:
smoke_m2 <- lm(cigs ~ educ + age + agesq + log(cigpric) + restaurn, data = smoke)

summary(smoke_m2)

Call:
lm(formula = cigs ~ educ + age + agesq + log(cigpric) + restaurn,
    data = smoke)

Residuals:
    Min      1Q  Median      3Q     Max
-15.078  -9.312  -6.246   8.038  70.329

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept)   1.580127  23.695583   0.067  0.94685
educ         -0.450147   0.161640  -2.785  0.00548 **
age           0.822541   0.154322   5.330 1.28e-07 ***
agesq        -0.009590   0.001679  -5.711 1.58e-08 ***
log(cigpric) -0.351320   5.765550  -0.061  0.95143
restaurn     -2.736389   1.109693  -2.466  0.01388 *
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 13.41 on 801 degrees of freedom
Multiple R-squared:  0.051,	Adjusted R-squared:  0.04508
F-statistic:  8.61 on 5 and 801 DF,  p-value: 5.859e-08

### 

With the 2SLS regression, the coefficient for cigs is negative and significant at the 10% level, and indicates that income decreases by 4.2% for every cigarette smoked.

In [120]:
smoke_m3 <- ivreg(log(income) ~ cigs + educ + age + agesq | log(cigpric) + restaurn + educ + age + agesq, data = smoke)

summary(smoke_m3)

Call:
ivreg(formula = log(income) ~ cigs + educ + age + agesq | log(cigpric) +
    restaurn + educ + age + agesq, data = smoke)

Residuals:
     Min       1Q   Median       3Q      Max
-4.13055 -0.44952 -0.05524  0.52926  3.09278

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept)  7.7808932  0.2298674  33.849  < 2e-16 ***
cigs        -0.0421257  0.0262184  -1.607 0.108509
educ         0.0396746  0.0162811   2.437 0.015032 *
age          0.0938182  0.0238534   3.933 9.11e-05 ***
agesq       -0.0010508  0.0002743  -3.831 0.000138 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 0.88 on 802 degrees of freedom
Multiple R-Squared: -0.5169,	Adjusted R-squared: -0.5245
Wald test: 22.31 on 4 and 802 DF,  p-value: < 2.2e-16

### 

These variables should not necessarily be considered exogenous, because states where income is lower may also mean that it is less likely that there be restaurant restrictions on smoking. For example, in the South of the US, income tends to be lower and there tend to be much less restrictions on public smoking.